#  Local .terraform directories
**/.terraform/*
terraform.tfstate*
stage.auto.tfvars

# .tfvars files
.DS_STORE
.terraform.tfstate.lock.info
terraform.tfstate*
stage.auto.tfvars
.terraform.lock.hcl

# lambda package
lambda_function.zip
